<section class="bg-gradient-to-tr from-pink-600 via-rose-500 to-pink-400 px-20 grid grid-cols-1 md:grid-cols-2 py-10 my-20 gap-14">
  <div class="text-center text-white flex flex-col items-center">
    <h2 class="text-2xl md:text-3xl font-bold mb-5">Sobre Nosotros</h2>
    <p>
      Narala es una tienda local situada en el corazón de Ovalle,
      dedicada a ofrecer una cuidadosa selección de productos de belleza
      y bienestar de marcas renombradas como Natura y Just, así como exclusivos artículos artesanales y accesorios únicos.
      Nuestro compromiso es brindar a nuestros clientes opciones de alta calidad que realzan la belleza natural y promueven
      un estilo de vida saludable. Cada producto en Narala ha sido seleccionado con la máxima atención y cariño, asegurando
      que cada visita sea una experiencia memorable y enriquecedora. Visítanos para descubrir lo mejor en cuidado personal
      y accesorios artesanales, todo bajo un mismo techo.
    </p>
  </div>

  <app-slider-images />
</section>
