<header data-aos="fade-down" class="flex justify-between flex-row items-center w-screen px-10 py-2 border-b border-pink-400 border-b-1 shadow-md shadow-pink-400/50">
  <div class="icon-header">
    <img src="assets/img/icon.png" alt="Icono de la imagen" class="w-20 sm:w-28">
  </div>
  <div class="nav-header mt-5 sm:mt-0">
    <nav>
      <ul class="flex gap-4 text-white justify-between">
        <li><a href="#" class="text-pink-500 hover:text-pink-800 hover:underline">Inicio</a></li>
        <li><a href="#" class="text-pink-500 hover:text-pink-800 hover:underline">Catalogo</a></li>
        <li><a href="#" class="text-pink-500 hover:text-pink-800 hover:underline">Iniciar Sesión</a></li>
      </ul>
    </nav>
  </div>
</header>
