<header data-aos="fade-down"
  class="flex justify-between flex-row items-center w-screen px-10 py-2 mb-10 border-b border-pink-400 border-b-1 shadow-md shadow-pink-400/50">
  <div class="icon-header">
    <img src="assets/img/icon.png" alt="Icono de la imagen" class="w-20 sm:w-28">
  </div>
  <div class="nav-header mt-5 sm:mt-0 hidden md:block">
    <nav>
      <ul class="flex gap-4 text-white justify-between">
        <li><a href="/home" class="text-pink-500 hover:text-pink-800 hover:underline">Inicio</a></li>
        <li><a href="/products" class="text-pink-500 hover:text-pink-800 hover:underline">Catalogo</a></li>
        <li><a href="/login" class="text-pink-500 hover:text-pink-800 hover:underline">Iniciar Sesión</a></li>
      </ul>
    </nav>
  </div>

  <div class="block md:hidden" data-twe-dropdown-ref>
    <a class="flex items-center rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-pink-600 shadow-primary-1 transition duration-150 ease-in-out hover:bg-pink-600 hover:text-white hover:shadow-primary-2 focus:bg-pink-600 focus:text-white focus:shadow-pink-200 focus:outline-none focus:ring-0 active:bg-pink-500 active:shadow-pink-300 active:text-white motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
      href="#" type="button" id="dropdownMenuButton2" data-twe-dropdown-toggle-ref aria-expanded="false"
      data-twe-ripple-init data-twe-ripple-color="light">
      <span>Menú</span>
      <span class="ms-2 w-2 [&>svg]:h-5 [&>svg]:w-5">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd" />
        </svg>
      </span>
    </a>
    <ul
      class="float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-base shadow-lg data-[twe-dropdown-show]:block dark:bg-surface-dark"
      aria-labelledby="dropdownMenuButton2" data-twe-dropdown-menu-ref>
      <li>
        <a class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
          href="/products" data-twe-dropdown-item-ref>Catálogo</a>
      </li>
    </ul>
  </div>
</header>
