<section data-aos="fade-up-left" class="img-banner flex justify-center items-center mt-5 mx-10 lg:mx-20 bg-gradient-to-tr from-yellow-600 via-red-400 to-pink-500 rounded-2xl shadow-2xl shadow-red-500/50">
  <div class="text-white text-center px-5">
    <h1 class="text-5xl md:text-7xl font-bold">Tienda Narala</h1>
    <h2 class="text-lg sm:text-xl mb-5 lg:text-2xl">Ovalle | Chile 📍</h2>

    <p class="">
      Productos de Belleza, Cosmética y Cuidado Personal
      <br>
      ¡Te ayudamos a encontrar el regalo perfecto!
      <br>
      Con marcas como Natura y Just, Libros y Accesorios
    </p>
  </div>

</section>
