<section class="mx-10 lg:mx-20 mt-10" data-aos="fade-up">
  <h2 class="bg-gradient-to-r from-rose-700 via-rose-500 to-rose-400 inline-block text-transparent bg-clip-text font-bold text-xl mb-3">
    ¿Ya Viste nuestro Catálogo?
  </h2>

  <main class="grid grid-cols-2 lg:grid-cols-3">
    @for (item of products; track $index) {
      <div class="flex flex-col justify-center mx-auto">
        <img src="{{ item.image }}" alt="{{ item.name }}" width="150" height="150" class="card-img" />
        <div class="card-body">
          <h4 class="font-bold max-w-[150px]">{{ item.name }}</h4>
          <p class="text-sm max-w-[150px]">{{ item.description }}</p>

          @if (item.discount > 0) {
            <p class="text-sm font-bold line-through text-gray-500"> ${{ item.price }}</p>
            <p class="text-sm font-bold text-rose-500"> ${{ item.price - item.discount }}</p>
          } @else if (item.discount === 0) {
            <p class="text-sm font-bold "> ${{ item.price }}</p>
          }
        </div>
      </div>
    }
  </main>
  <div class="flex justify-center pt-10">
    <button type="button" class="bg-gradient-to-br from-rose-500 hover:from-rose-700 via-rose-400 hover:via-rose-500 to-rose-300 hover:to-rose-400 text-white rounded-2xl p-5">
      Ver Catálogo
    </button>
  </div>
</section>
